@model Delineation.Models.D_Tc

@{
    ViewData["Title"] = "Подробно";
}

    <h1>Подробно</h1>

<div>
    <h4>ТУ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Num)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Num)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Res)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Res.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FIO)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ObjName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ObjName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Pow)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Pow)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Point)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Pillar)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Pillar)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.InvNum)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.InvNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Назад к списку"></a>
</div>
