@model Delineation.Models.D_Act

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>D_Act</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tc.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEntity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntityDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntityDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevBalabce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevBalabce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsExpl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsExpl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevExpl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevExpl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTransit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTransit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIOtrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIOtrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
