@model Delineation.Models.D_Act

@{
    ViewData["Title"] = "Подробно";
}

    <h1>Подробно</h1>

<div>
    <h4>Акты</h4>
    <hr />
    <table style="width:100%">
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td style="width:50%; vertical-align:top">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsEntity)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsEntity)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EntityDoc)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EntityDoc)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ConsBalance)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ConsBalance)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DevBalance)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DevBalance)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ConsExpl)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ConsExpl)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DevExpl)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DevExpl)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsTransit)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsTransit)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FIOtrans)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FIOtrans)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Validity)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Validity)
                    </dd>
                </dl>
                @if (ViewBag.fileName != null)
                {
                    <img src="~/Output/png/@ViewBag.fileName" width="300" height="200" />
                }
            </td>
            <td style="width:50%; vertical-align:top">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Num)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Num)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Date)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Date)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Res)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Res.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Company)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Company)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.FIO)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.FIO)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.ObjName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.ObjName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Address)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Pow)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Pow)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Category)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Category)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Category2)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Category2)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.PS) (@Html.DisplayNameFor(model => model.Tc.PSInvNum))
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.PS) (@Html.DisplayFor(model => model.Tc.PSInvNum))
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Line10) (@Html.DisplayNameFor(model => model.Tc.Line10InvNum))
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Line10) (@Html.DisplayFor(model => model.Tc.Line10InvNum))
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.TP) (@Html.DisplayNameFor(model => model.Tc.TPInvNum))
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.TP) (@Html.DisplayFor(model => model.Tc.TPInvNum))
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Line04) (@Html.DisplayNameFor(model => model.Tc.Line04InvNum))
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Line04) (@Html.DisplayFor(model => model.Tc.Line04InvNum))
                    <dt>
                        @Html.DisplayNameFor(model => model.Tc.Pillar)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tc.Pillar)
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    @if (ViewBag.fileName != null)
    {
    <a asp-action="CreateAct" asp-route-id="@Model.Id">Сформировать АКТ</a>@Html.Raw("|")
    }
    <a asp-action="Index">Назад к списку</a>
</div>
