@model Delineation.Models.D_Act

@{
    ViewData["Title"] = "Редактирование";
}

    <h1>Редактирование</h1>

<h4>Акт</h4>
<hr />
<table style="width:100%">
    <tr>
        <td></td>
    </tr>
    <tr>
        <td style="width:50%">
            <div class="row">
                <div>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Date" class="control-label"></label>
                            @Model.Date.ToString("dd.MM.yyyy")
                            <input type="hidden" asp-for="Date" class="form-control" />
                            <input type="hidden" asp-for="TcId" />
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsEntity" /> @Html.DisplayNameFor(model => model.IsEntity)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="EntityDoc" class="control-label"></label>
                            <input asp-for="EntityDoc" class="form-control" />
                            <span asp-validation-for="EntityDoc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConsBalance" class="control-label"></label>
                            <input asp-for="ConsBalance" class="form-control" />
                            <span asp-validation-for="ConsBalance" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DevBalance" class="control-label"></label>
                            <input asp-for="DevBalance" class="form-control" />
                            <span asp-validation-for="DevBalance" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConsExpl" class="control-label"></label>
                            <input asp-for="ConsExpl" class="form-control" />
                            <span asp-validation-for="ConsExpl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DevExpl" class="control-label"></label>
                            <input asp-for="DevExpl" class="form-control" />
                            <span asp-validation-for="DevExpl" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsTransit" /> @Html.DisplayNameFor(model => model.IsTransit)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="FIOtrans" class="control-label"></label>
                            <input asp-for="FIOtrans" class="form-control" />
                            <span asp-validation-for="FIOtrans" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Validity" class="control-label"></label>
                            <input asp-for="Validity" class="form-control" />
                            <span asp-validation-for="Validity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Сохранить" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </td>
        <td style="width:50%; vertical-align:top">
            <dl>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.Num)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.Num)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.Date)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.Res)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.Res.Name)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.Company)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.Company)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.FIO)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.FIO)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.ObjName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.ObjName)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.Address)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.Pow)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.Pow)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.Category)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.Category)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.Point)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.Point)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Tc.InvNum)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tc.InvNum)
                </dd>
            </dl>
        </td>
    </tr>
</table>


<div>
    <a asp-action="Index">Назад к списку</a>
</div>

