@model IEnumerable<Delineation.Models.D_Act>

@{
    ViewData["Title"] = "Акты";
}

    <h1>Акты</h1>

<p>
    <a asp-action="Create">добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.Res.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.Address)
            </th>
            <td>
                
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tc.Res.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tc.Num)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tc.Date)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tc.FIO)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tc.Address)
            </td>
            <td>
                @{ string link = "../Output/pdf/" + item.Id + ".pdf";}
                <a href="@link" rel="noopener noreferrer" target="_blank">акт</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">изменить</a>   <br />
                <a asp-action="Details" asp-route-id="@item.Id">подробно</a> <br />
                <a asp-action="Delete" asp-route-id="@item.Id">удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
