@model IEnumerable<Delineation.Models.D_Act>

@{
    ViewData["Title"] = "Выданные акты";
    List<Unit> units = ViewBag.sprpodrs;
}
    <h1 style="color:#0000CD;">Выданные акты</h1>
@*@foreach(Unit s in units)
{
    @s.Naim <br />
}*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.Res.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc.Address)
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tc.Res.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tc.Num)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tc.Date)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tc.FIO)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tc.Address)
            </td>
            <td>
                @{string link = "../Output/pdf_signed/" + item.Id + "_sign.pdf";
                    <a href="@link" rel="noopener noreferrer" target="_blank">посмотреть</a>
                }
            </td>
            <td>
                <a asp-action="Agreement" asp-route-id="@item.Id">согласовали</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">.</a>
            </td>
        </tr>
}
    </tbody>
</table>
