@model IEnumerable<Delineation.Models.D_Res>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Представители РЭС:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    начальник:<i>@(item.Nach?.Surname + " " + item.Nach?.Name + " " + item.Nach?.Patronymic)</i><br />
                    зам.нач. по сбыту:<i>@(item.ZamNach?.Surname + " " + item.ZamNach?.Name + " " + item.ZamNach?.Patronymic)</i><br />
                    гл. инженер:<i>@(item.GlInzh?.Surname + " " + item.GlInzh?.Name + " " + item.GlInzh?.Patronymic)</i><br />
                    бухгалтер:<i>@(item.Buh?.Surname + " " + item.Buh?.Name + " " + item.Buh?.Patronymic)</i><br />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
